<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  	<%= stylesheet_link_tag "style" %>
  	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  	<title>406 - Not allowed</title>
  	<style type="text/css">h1 { color: #f00; }</style>
</head>

<body>
	
<div class="content">
<div class="main">

<h1>This was a bad request - only usage records can be posted to this service.</h1>

<% if flash[:notice] %>
	<p><%=h flash[:notice] %></p>
<% else %>
	<p>Please check the content type of the message.</p>
<% end %>

<p>Click <%= link_to 'here', usage_records_path %> to return to a list of usage records</p>

</div>
</div>
</body>
</html>